


.about 
{

    
    &_header 
    {
        font-family: "Averta";
        font-weight: bold;

        &_h1 
        {
            letter-spacing: -6px;
            font-size : 70px;
            line-height : 3.7rem; 
            color : #4cc9f0;

            span 
            {
                font-size : 40px;
                letter-spacing : -1px;
                color : #118ab2;
            }
        }
    }

    &_details 
    {
       line-height : 1.2rem;
       color : #adb5bd;
       font-family : 'AvertaStd';
       font-size : 12px;
    }
    
    // &_btns 
    // {
    //     button 
    //     {
    //         width : 150px;
    //         height : 60px;
    //         font-family : 'Averta Standard';
    //         text-transform: uppercase;

    //         &:nth-child(1)
    //         {
    //             background : #29bf12;
    //             border : 2px solid #29bf12;
    //         }
    //         &:nth-child(2)
    //         {
    //             background : #ffc145;
    //             border : 2px solid #ffc145;
    //             color : black;

    //             &:hover 
    //             {
    //                 color : black;
    //                 background : #ff9f1c;
    //                 border : 2px solid #ff9f1c;
    //             }
    //         }
    //     }
        
    // }
    
    &_extra 
    {   
        font-family : 'AvertaStd';
        font-size : 15px;
        color : #118ab2;
        letter-spacing : 0px;
    }
}
