.nav 
{
    background : #ade8f4;

    &_header 
    {
        font-family: 'Helvetica 65 Medium', sans-serif;
        font-weight: bold;
    }

    &_a_logo 
    {
        height : 70px;
        width : 150px;
    }
}

.navbar-nav .active 
{
    color : #023e8a !important;
}

.nav-link
{
    text-transform: lowercase;
    font-family: 'AvertaStd', sans-serif;

    &:hover 
    {
        color : #023e8a;
    }
}

.navbar-extra 
{ 
    display : flex;
    justify-content: space-around;
    align-items: center;
    width : 70px;
    min-height : 20px;
    i 
    {
        color : #778da9;
        cursor : pointer;
        transition : 0.3s;

        &:hover 
        {
            color : #023e8a;
        }
    }
}

