@font-face {
    font-family: 'Averta';
    src: url('Averta-Bold.woff2') format('woff2'),
        url('Averta-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'AvertaStd';
    src: url('AvertaStd-Regular.woff2') format('woff2'),
        url('AvertaStd-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Cabin';
    src: url('Cabin-Medium.woff2') format('woff2'),
        url('Cabin-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cabin';
    src: url('Cabin-Regular.woff2') format('woff2'),
        url('Cabin-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cabin';
    src: url('Cabin-SemiBold.woff2') format('woff2'),
        url('Cabin-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cabin';
    src: url('Cabin-Bold.woff2') format('woff2'),
        url('Cabin-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Brussels City Personal Used';
    src: url('BrusselsCityPersonalUsed.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@import 'config';
@import 'navbar';
@import 'about';
@import 'slideshow';
@import 'location';
@import 'waterpark';
@import 'card';
@import 'contact';
@import 'footer';